.btn {
  padding: 1.5rem 3rem;
  border: none;

  font-size: 1.8rem;
  font-family: inherit;

  color: white;
  border-radius: 4rem;

  cursor: pointer;

  transition: all 0.3s ease-in;

  &:not(:last-child) {
    margin-right: 2rem;

    @media (max-width: 950px) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &--green {
    background-color: var(--color-primary-strong-cyan);
    box-shadow: 0 1rem 1rem hsla(171, 66%, 44%, 0.205);
  }

  &--blue {
    background-color: var(--color-primary-light-blue);
    box-shadow: 0 1rem 1rem hsla(233, 100%, 69%, 0.205);
  }
}
